/* File of the Achievements page style */

/* Import variables */
@import url('../style.css');

/* CSS variables */
:root {

    /* Achievements configrations */
    --achievement-size: 400px;           
    --achievement-size-active: 500px;    
    --achievement-gap: 140px; 

    /* Size of the buttons */
    --button-size: 80px;           
        
    /* Color when Achievement is blocked */
    --blocked-color: #274360;
}

/* Configuring to all HTML Tags */
* {

    /* Defining the Size of each box */
    box-sizing:border-box;
}

/* The HTML and Body configurations */
html, body {

    /* Defining the Height */
    height:100%;
}

/* The Body of the HTML */
body{

    /* Defining the Background Color */ 
    background: var(--trophies-background-image);

    /* Defining the Font Family */
    font-family: var(--pixel-font);
    
    /* Defining the margin and padding */
    margin:0;
    padding:32px;
    
    /* Using FlexBox to configure the position */
    display:flex;
    align-items:center;
    justify-content:center; 
}

body::before {

    content: ""; 
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    background: var(--trophies-background-image);
    
    z-index: -1; 
    
    filter: grayscale(50%);
    
    background-size: cover;
    background-position: center;
}

.achievements{

    width:1000px;
    max-width:100%;
    height: calc(var(--achievement-size-active) + 60px);

    position:relative;
    overflow: visible;

    display:flex;
    align-items:center;
    justify-content:center;
}

.button {

    /* Defining the Color */ 
    image-rendering: pixelated;
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;

    /* Defining the Width and Height */ 
    width: 150px;
    height: 150px;

    /* Defining the Position */ 
    position:absolute;
    top:50%;
    z-index:10;
    transform:translateY(-50%);
    
    /* Defining the Border */ 
    border:none;
    
    /* Using Grid to display */ 
    display:grid;
    place-items:center;

    /* The transition to Hover */ 
    cursor:pointer;
    transition:all 180ms ease;
}

/* The Left button */
.button.left {

    background-image: var(--left-button-image);

    /* Defining the position */
    left:0px;
}

/* The Right button */
.button.right {

    background-image: var(--right-button-image);

    /* Defining the position */
    right:0px;
}

/* Configuration of the button in case of Hover */
.button:hover {

    /* Scaling the button it's value times 1.08 */
    transform:translateY(-50%) scale(1.08); 
}

.button.left:hover {

    background-image: var(--left-button-hover-image)
}

.button.right:hover {

    background-image: var(--right-button-hover-image);
}

/* Configuration of the button if it's clicked */
.button:active {

    /* Scaling the button it's value times 0.98 */
    transform:translateY(-50%) scale(0.98);
}

.button.left:active {

    background-image: var(--left-button-clicked-image);
}

.button.right:active {

    background-image: var(--right-button-clicked-image);
}

/* The Viewport to all Achievements */
.viewport {

    /* Defining the Width and height */
    width:100%;
    height:100%;

    /* Defining the position */
    position:relative;
}

/* The Container of all Achievements */
.container {

    /* Defining the Width and height */
    width:100%;
    height:100%;

    /* Defining the position */
    position:relative;
}

/* An Achievement */
.achievement {

    /* Defining the Color */
    opacity:0.5;

    /* Defining the Font Size and Weight */
    font-weight:700;
    font-size:28px;

    /* Defining the Width and Height */
    width: var(--achievement-size);
    height: var(--achievement-size);
    transform: translate(-50%, -50%) scale(0.9);

    /* Defining the Position */
    position: absolute;
    top: 50%;
    left: 50%;
    z-index:0;

    /* Defining the Border Radius to make it a Circle */
    user-select:none;

    /* Use Display Grid to alter the postion */
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    /* Transition in case of Animations */
    transition: transform 300ms ease, opacity 300ms ease, z-index 300ms ease;
}

.achievement-frame {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 1; /* sempre no fundo */
  pointer-events: none;
}

.achievement-text,
.stars {
  position: absolute;
  z-index: 3; /* sempre acima da moldura */
}

.stars {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  gap: 8px;
  z-index: 2;

  bottom: -18%; 
  left: 50%;
  transform: translateX(-50%); 
  width: 100%;
}

/* Cada estrela individual */
.stars img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.achievement-text {
    font-size: 3rem;
    padding: 0 10px;
    color: #f8fafc;
    z-index: 3;
    /* Oculta o texto por padrão (Bloqueado) */
    display: none; 
    
    top: -25%;
    left: 50%;
    transform: translateX(-50%); 
    width: 100%;
}

.achievement img:not(.achievement-frame) {
    
    position: relative; 
    z-index: 3; 
    object-fit: contain;
    transition: opacity 300ms ease;
}

.achievement.unlocked .achievement-text {
    display: block; /* O texto aparece */
}

.achievement.active .achievement-text,
.achievement.unlocked .achievement-text {
    display: block; /* O texto aparece */
}

/* The Achievement that is in front */
.achievement.active {

    /* Defining the Font Size */
    font-size:36px;

    /* Defining the Width and Height */
    width: var(--achievement-size-active);
    height: var(--achievement-size-active);
    transform: translate(-50%, -50%) scale(1.05);

    /* Defining the opacity */
    opacity:1;
    z-index:5;
}

/* The Achievement that is in left */
.achievement.left {

    /* Altering the size and position of Achievement */
    transform: translate(calc(-50% - var(--achievement-gap)), -50%) scale(0.95);
    
    /* Defining the opacity */
    opacity:0.7;
    z-index:2;
}

/* The Achievement that is in right */
.achievement.right{

    /* Altering the size and position of Achievement */
    transform: translate(calc(-50% + var(--achievement-gap)), -50%) scale(0.95);
    
    /* Defining the opacity */
    opacity:0.7;
    z-index:2;
}

/* Adjustements on small screens */
@media (max-width:640px){

    /* Defining this variables */
    :root {

        /* Achievements configrations */
        --achievement-size:140px;
        --achievement-size-active:200px;
        --achievement-gap:40px;

        /* Size of the button */
        --button-size:60px;
    }

    /* The Div to all achievements */
    .achievements {

        /* Defining a new Width */
        width:100%;
    }

    /* The buttons */
    .button {

        /* Defining a Font Size */
        font-size:1.5rem;
    }
}