/* File of the Configuration page style */

/* Import variables */
@import url('../style.css');

/* The Body of the HTML */
body {

    /* Setting it to be in all the page */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;

    /* Hidden all the parts that overflow the page */
    overflow: hidden;

    /* Putting and configuring the Background image */ 
    background-image: var(--controls-background-image);
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    
    /* Using FlexBox to configure the position */
    display: flex;
    justify-content: center; 
    align-items: flex-start;
}

/* The Container class */
.container {

    /* Configure the color */
    background-color: var(--dark-container-color);
    color: var(--light-text-color);   
    box-shadow: 0 4px 15px rgba(53, 53, 53, 0.6); 
    
    /* The size and family of the Font */
    font-family: var(--pixel-font);  
    font-size: 25px;

    /* Configure the Padding and Border Radius */ 
    padding: 30px 30px 50px 30px;
    border-radius: 10px;
    
    /* Configure the Width and Height */
    width: 700px;       
    max-width: 90%;    
    height: calc(100vh - 40px);
    max-height: 100%;      
    overflow-y: auto;   
    overflow-x: hidden;

    /* Using FlexBox to configure the position */
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

/* A title text */
h1 {

    /* Configure the color */
    color: var(--button-color);

    /* Defining the Font Size */
    font-size: 90px;

    /* Configure the Width and Position */
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

/* The Labels */
label {

    /* Defining the Color */
    color: var(--container-color);

    /* The size of the Font */
    font-size: 35px;
    
    /* Defining the Margin and Gap */
    gap: 12px;
    margin-top: 10px;

    /* Using FlexBox */
    display: flex;
    align-items: center;
}

/* Defining the Inputs */ 
input[type="text"],
input[type="password"],
select {

    /* Defining the Color */
    background-color: #333;
    color: var(--light-text-color);

    /* The size and family of the Font */
    font-size: 25px;
    font-family: var(--pixel-font);

    /* Defining the Width */ 
    width: 100%;

    /* Defining the padding, Margin and Border */
    padding: 20px 10px;
    margin: 5px 0 20px 0;
    border: none;
    border-radius: 5px;
    
    /* Transition in case of Hover */
    transition: background-color 0.2s, box-shadow 0.2s; 
}

/* Configuration of the Input in case of Hover */
input[type="text"]:hover,
input[type="password"]:hover {

    /* Defining the background Color */
    background-color: #444; 
    box-shadow: 0 0 8px #1e1e1e;
}

/* Defining the Selects Input */  
select {

    /* Defining the Margin Bottom */
    margin-bottom: 50px; 
}

/* Configuration of the Select in case of Hover */
select:hover {

    /* Defining the background Color */
    background-color: #444; 
    box-shadow: 0 0 8px #1e1e1e; 
}

/* The Container of the Sliders */
.sliderContainer {

    /* Defining the Width */
    width: 100%;

    /* Defining the Margin */
    margin: 15px 0;
}

/* The Labels of the Container */
.sliderContainer label {

    /* Defining the Margin */
    margin-bottom: 5px;
}

/* The Image icon */
.icon {

    /* Defining the Width and Height */ 
    width: 50px;
    height: 50px;
}

/* Defining the Slider */
input[type="range"] {

    /* remove the appearence of the Web Site */
    -webkit-appearance: none;

    /* Defining the background Color */
    background: #444;

    /* Defining the Width and Height */ 
    width: 100%;
    height: 32px;

    /* Defining the Border Radius */
    border-radius: 5px;
    outline: none;
}

/* Styling the button on the Web Sites */
input[type="range"]::-webkit-slider-thumb {

    /* remove the appearence of the Web Site */
    -webkit-appearance: none;

    /* Defining the background Color */
    background: var(--button-color);

    /* Defining the Width and Height */
    width: 42px;
    height: 42px;

    /* Defining the Border Radius */
    border-radius: 50%;
    
    /* Transition in case of Hover */
    cursor: pointer;
    transition: 0.3s;
}

/* Styling the button on the Fire Fox */
input[type="range"]::-moz-range-thumb {

    /* Defining the background Color */
    background: var(--button-color);

    /* Defining the Width and Height */
    width: 20px;
    height: 20px;

    /* Defining the Border Radius */
    border-radius: 50%;
    
    /* Putting the cursor to pointer */
    cursor: pointer;
}

/* Configuration of the slider in case of Hover */
input[type="range"]::-webkit-slider-thumb:hover {
    
    /* Defining the background Color */
    background: var(--button-hover-color);
    
    /* Scaling the button it's value times 1.05 */
    transform: scale(1.05); 
}

/* The Buttons Div */
.buttons {

    /* Defining the Width and Gap */
    gap: 15px;
    width: 100%;

    /* Using FlexBox to configure the position */
    display: flex;
    flex-direction: column; 
}

/* The buttons on the Div */
.buttons button {

    /* Defining the Font Family and Size */
    font-family: var(--pixel-font);
    font-size: 40px;

    /* Defining the Padding and Border Radius */
    padding: 20px;
    border: none;
    border-radius: 8px;

    /* Transition in case of Hover */
    cursor: pointer;
    transition: 0.3s;
}

/* The Button to save the confirations */
#save {

    /* Defining the Color */
    background-color: var(--button-color);
    color: var(--light-text-color);

    /* Defining the Margin */
    margin-top: 30px;
    margin-bottom: 140px;
}

/* Configuration of the button in case of Hover */
#save:hover {

    /* Altering the Color */
    background-color: var(--button-hover-color);

    /* Scaling the button it's value times 1.05 */
    transform: scale(1.05);
}

/* The Button to logout the Account */
#logout {

    /* Defining the Color */
    background-color: #6b6a6a;
    color: #fff;

    /* Defining the Margin */
    margin-bottom: 15px;
}

/* Configuration of the button in case of Hover */
#logout:hover {

    /* Altering the Color */
    background-color: #c6c6c6;

    /* Scaling the button it's value times 1.05 */
    transform: scale(1.05);
}

/* The Button to Delete the Account */
#delete {

    /* Defining the Color */
    background-color: #6e0404;
    color: #fff;
}

/* Configuration of the button in case of Hover */
#delete:hover {

    /* Altering the Color */
    background-color: #ed0505;

    /* Scaling the button it's value times 1.05 */
    transform: scale(1.05);
}