


@import url('../style.css');


body {

     
    background-image: var(--controls-background-image);
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    
    
    display: flex;
    justify-content: center; 
    align-items: flex-start;
}


.container {

    
    background-image: var(--black-container-image);
    background-repeat: repeat;
    background-size: contain;
    color: var(--light-text-color);   
    
    
    font-family: var(--pixel-font);  
    font-size: 25px;

     
    padding: 30px 30px 50px 30px;
    
    
    width: 700px;     
    height: calc(100vh - 40px);   
    max-width: 90%;    
    max-height: 100%;      
    overflow-y: auto;   
    overflow-x: hidden;

    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


h1 {

    
    color: var(--title-text-color);

    
    font-size: 120px;

    
    width: 100%;
    margin-top: 10px;

    
    text-align: center;
}


pre {

    
    font-family: var(--pixel-font);  
    font-size: 25px;

    
    width: 700px;
    height: auto;

    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}