


@import url('../style.css');


:root {

    
    --achievement-size: 400px;           
    --achievement-size-active: 500px;    
    --achievement-gap: 140px; 
}


* {

    
    box-sizing:border-box;
}


html, body {

    
    height:100%;
}


body{

     
    background: var(--trophies-background-image);

    
    font-family: var(--pixel-font);
    
    
    padding:32px;
    
    
    display:flex;
    align-items:center;
    justify-content:center; 
}


body::before {

    
    content: ""; 
    
    
    background: var(--trophies-background-image);
    background-size: cover;
    background-position: center;
    filter: grayscale(50%);

    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    
    z-index: -1; 
}


.achievements {

    
    width:1000px;
    max-width:100%;
    height: calc(var(--achievement-size-active) + 60px);

    
    position:relative;
    overflow: visible;

    
    display:flex;
    align-items:center;
    justify-content:center;
}


.button {

     
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;

     
    width: 150px;
    height: 150px;

     
    position:absolute;
    top:50%;
    z-index:10;
    transform:translateY(-50%);
    
     
    border:none;
    
     
    display:grid;
    place-items:center;

     
    cursor:pointer;
    transition:all 180ms ease;
}


.button.left {

    
    background-image: var(--left-button-image);

    
    left:0px;
}


.button.right {

    
    background-image: var(--right-button-image);

    
    right:0px;
}


.button:hover {

    
    transform:translateY(-50%) scale(1.08); 
}


.button.left:hover {

    
    background-image: var(--left-button-hover-image)
}


.button.right:hover {

    
    background-image: var(--right-button-hover-image);
}


.button:active {

    
    transform:translateY(-50%) scale(0.98);
}


.button.left:active {

    
    background-image: var(--left-button-clicked-image);
}


.button.right:active {

    
    background-image: var(--right-button-clicked-image);
}


.viewport {

    
    width:100%;
    height:100%;

    
    position:relative;
}


.container {

    
    width:100%;
    height:100%;

    
    position:relative;
}


.achievement {

    
    opacity:0.5;

    
    font-weight:700;
    font-size:28px;

    
    width: var(--achievement-size);
    height: var(--achievement-size);
    transform: translate(-50%, -50%) scale(0.9);

    
    position: absolute;
    top: 50%;
    left: 50%;
    z-index:0;

    
    user-select:none;

    
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    
    transition: transform 300ms ease, opacity 300ms ease, z-index 300ms ease;
}


.achievementFrame {
    
    
    width: 100%;
    height: 100%;

    
    position: absolute;
    inset: 0;
    object-fit: contain;
    z-index: 1; 
  
    
    pointer-events: none;
}


.achievementText,
.stars {

    
    position: absolute;
    z-index: 3;
}


.stars {

    
    width: 100%;

    
    gap: 8px;
    bottom: -18%; 
    left: 50%;
    transform: translateX(-50%); 
  
    
    display: flex;
    justify-content: center;
    align-items: center;
}


.stars img {
    
    
    width: 80px;
    height: 80px;
    object-fit: contain;
}


.achievementText {

    
    color: #f8fafc;

    
    width: 100%;

    
    font-size: 3rem;
    
    
    top: -25%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;

    
    padding: 0 10px;
    display: none; 
}


.achievement img:not(.achievementFrame) {
    
    
    position: relative; 
    z-index: 3; 
    object-fit: contain;

    
    transition: opacity 300ms ease;
}


.achievement.active .achievementText,
.achievement.unlocked .achievementText {
    
    
    display: block;
}


.achievement.active {

    
    font-size:36px;

    
    width: var(--achievement-size-active);
    height: var(--achievement-size-active);
    transform: translate(-50%, -50%) scale(1.05);

    
    opacity:1;
    z-index:5;
}


.achievement.left {

    
    transform: translate(calc(-50% - var(--achievement-gap)), -50%) scale(0.95);
    
    
    opacity:0.7;
    z-index:2;
}


.achievement.right{

    
    transform: translate(calc(-50% + var(--achievement-gap)), -50%) scale(0.95);
    
    
    opacity:0.7;
    z-index:2;
}


@media (max-width:640px){

    
    :root {

        
        --achievement-size:140px;
        --achievement-size-active:200px;
        --achievement-gap:40px;
    }

    
    .achievements {

        
        width:100%;
    }

    
    .button {

        
        font-size:1.5rem;
    }
}