/* File of the Ranking page style */

/* Import variables */
@import url('../style.css');

/* The Body of the HTML */
body {

    /* Setting it to be in all the page */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;

    /* Putting and configuring the Background image */ 
    background: var(--trophies-background-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* The size and family of the Font */ 
    font-family: var(--pixel-font);
    font-size: 30px;
    
    /* Using FlexBox to configure the position */
    display: flex;
    justify-content: center;
}

/* The Container Div */
.container {

    /* Defining the Color */
    background-image: var(--black-container-image);
    background-repeat: repeat;
    background-size: contain;

    /* The position of the Container */
    width: 1000px;
    height: 100%;
    max-height: 700px;
    overflow-y: auto;

    /* Configure the Padding and Border Radius */
    padding: 20px;

    /* Align with FlexBox */
    text-align: center;
    overflow: hidden;
}

/* The Div of the Buttons */
.buttons {

    /* Setting the margin */
    margin-top: 50px;
    margin-bottom: 70px;
}

/* The Buttons */
button {

    /* Defining the Color */
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center;
    background-image: var(--pink-button-image);

    /* The size and family of the Font */ 
    font-family: var(--pixel-font);
    font-size: 40px;
    color: var(--light-text-color);

    /* Defining the Width and Height */
    width: 350px;
    height: 180px;

    /* Configure the Padding and Border Radius */
    padding: 10px 20px;
    border: none;
    margin: 0 5px;
    
    padding-bottom: 30px;

    /* Transition in case of Hover */
    cursor: pointer;
    transition: background 0.3s;
}

/* The button when have already clicked */
button.active {

    /* Altering the Color */
    background-image: var(--pink-button-clicked-image);
}

/* Configuration of the button in case of Hover */
button:hover {

    /* Altering the Color */
    background-image: var(--pink-button-hover-image);
    transform: scale(1.05);
}

/* Ranking Container */
.ranking-list {

    /* Defining the Gap */
    gap: 15px;

    /* Using FlexBox to configure the position */
    display: flex;
    flex-direction: column;
}

/* Ranking Item of the List */
.ranking-item {
    
    /* Defining the Color */
    background-image: var(--red-container-image);
    background-size: contain;
    background-repeat: repeat-x;

    /* Configure the Padding and Border Radius */
    padding: 12px 16px;
    border-radius: 5px;

    /* Using FlexBox to configure the position */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* The position of the Item */
.ranking-position {

    /* Defining the Color */
    color: var(--text-color);

    /* Defining the Font Weight */
    font-weight: bold;
}

/* The User of the Item */
.ranking-user {

    /* Defining the Margin */
    margin-left: 20px;

    /* Using FlexBox to configure the position */
    flex: 1;
    text-align: left;
}

/* The Score of the Item */
.ranking-score {

    /* Defining the Color */
    color: var(--text-color);

    /* Defining the Font Weight */
    font-weight: bold;
}

/* The Item when it's the first */
.ranking-item.gold {

    /* Defining the Color */
    background-image: var(--gold-container-image);
    background-size: contain;
    background-repeat: repeat-x;

    /* Defining the Font Weight */
    font-weight: bold;
}

/* The Item when it's the second */
.ranking-item.silver {

    /* Defining the Color */
    background-image: var(--white-container-image);
    background-size: contain;
    background-repeat: repeat-x;

    /* Defining the Font Weight */
    font-weight: bold;
}

/* The Item when it's the third */
.ranking-item.bronze {

    /* Defining the Color */
    background-image: var(--bronze-container-image);
    background-size: contain;
    background-repeat: repeat-x;

    /* Defining the Font Weight */
    font-weight: bold;
}