/* File of the Rules page style */

/* Import variables */
@import url('../style.css');

/* The Body of the HTML */
body {

    /* Setting it to be in all the page */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;

    /* Hidden all the parts that overflow the page */
    overflow: hidden;

    /* Putting and configuring the Background image */ 
    background-image: var(--controls-background-image);
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    
    /* Using FlexBox to configure the position */
    display: flex;
    justify-content: center; 
    align-items: flex-start;
}

/* The Container class */
.container {

    /* Configure the color */
    background-color: var(--dark-container-color);
    color: var(--light-text-color);   
    box-shadow: 0 4px 15px rgba(53, 53, 53, 0.6); 
    
    /* The size and family of the Font */
    font-family: var(--pixel-font);  
    font-size: 25px;

    /* Configure the Padding and Border Radius */ 
    padding: 30px 30px 50px 30px;
    border-radius: 10px;
    
    /* Configure the Width and Height */
    width: 700px;     
    height: calc(100vh - 40px);   
    max-width: 90%;    
    max-height: 100%;      
    overflow-y: auto;   
    overflow-x: hidden;

    /* Using FlexBox to configure the position */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Title text Rules */
h1 {

    /* Configure the color */
    color: var(--button-color);

    /* Defining the Font Size */
    font-size: 120px;

    /* Configure the Width and Margin */
    width: 100%;
    margin-top: 10px;

    /* Align it with FlexBox */
    text-align: center;
}