@import url('../style.css');

/* The Body of the HTML */
body {

    /* Setting it to be in all the page */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;

    /* Hidden all the parts that overflow the page */
    overflow: hidden;

    /* Putting and configuring the Background image */ 
    background-image: var(--controls-background-image);
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    
    /* Using FlexBox to configure the position */
    display: flex;
    justify-content: center; 
    align-items: flex-start;
}

/* The Container class */
.container {

    /* Configure the color */
    background-color: var(--dark-container-color);
    color: var(--light-text-color);   
    box-shadow: 0 4px 15px rgba(53, 53, 53, 0.6); 
    
    /* The size and family of the Font */
    font-family: var(--pixel-font);  
    font-size: 25px;

    /* Configure the Padding and Border Radius */ 
    padding: 30px 30px 50px 30px;
    border-radius: 10px;
    
    /* Configure the Width and Height */
    width: 700px;       
    max-width: 90%;    
    max-height: 100%;      
    overflow-y: auto;   
    overflow-x: hidden;

    /* Using FlexBox to configure the position */
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    height: calc(100vh - 40px); 
}

h1 {
    color: var(--button-color);
    font-size: 90px;
    margin-top: 30px;
    text-align: center;
    width: 100%;
}

label {
    font-size: 35px;
    color: var(--container-color);
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 12px;
}

input[type="text"],
input[type="password"],
select {
    width: 100%;
    padding: 20px 10px;
    margin: 5px 0 20px 0;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    font-family: var(--pixel-font);
    background-color: #333;
    color: #fff;
    transition: background-color 0.2s, box-shadow 0.2s; 
}

input[type="text"]:hover,
input[type="password"]:hover {
    background-color: #444; 
    box-shadow: 0 0 8px #1e1e1e;
}

select {
    margin-bottom: 50px; 
}

select:hover {
    background-color: #444; 
    box-shadow: 0 0 8px #1e1e1e; 
}

.sliderContainer {
    width: 100%;
    margin: 15px 0;
}

.sliderContainer label {
    margin-bottom: 5px;
}

.icon {
    width: 50px;
    height: 50px;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 32px;
    border-radius: 5px;
    background: #444;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: var(--button-color);
    cursor: pointer;
    transition: 0.3s;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--button-color);
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background: var(--button-hover-color);
    transform: scale(1.05); 
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.buttons button {
    font-family: var(--pixel-font);
    font-size: 40px;
    padding: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

#save {
    background-color: var(--button-color);
    color: #fff;
    margin-top: 30px;
    margin-bottom: 140px;
}

#save:hover {
    background-color: var(--button-hover-color);
    transform: scale(1.05);
}

#logout {
    background-color: #6b6a6a;
    color: #fff;
    margin-bottom: 15px;
}

#logout:hover {
    background-color: #c6c6c6;
    transform: scale(1.05);
}

#delete {
    background-color: #6e0404;
    color: #fff;
}

#delete:hover {
    background-color: #ed0505;
    transform: scale(1.05);
}