


@import url('../style.css');


body {

     
    background: var(--trophies-background-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

     
    font-family: var(--pixel-font);
    font-size: 30px;
    
    
    display: flex;
    justify-content: center;
}


section {

    
    padding-bottom: 30px;
}


.container {

    
    background-image: var(--black-container-image);
    background-repeat: repeat;
    background-size: contain;

    
    width: 1000px;
    height: 100%;

    
    padding: 20px;

    
    text-align: center;
    overflow-y: auto;
}


.buttons {

    
    margin-top: 50px;
    margin-bottom: 70px;
}


button {

    
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center;
    background-image: var(--pink-button-image);

     
    font-family: var(--pixel-font);
    font-size: 40px;
    color: var(--light-text-color);

    
    width: 350px;
    height: 180px;

    
    padding: 10px 20px;
    padding-bottom: 30px;
    border: none;
    margin: 0 5px;

    
    cursor: pointer;
    transition: background 0.3s;
}


button.active {

    
    background-image: var(--pink-button-clicked-image);
}


button:hover {

    
    background-image: var(--pink-button-hover-image);
    transform: scale(1.05);
}


.rankingList {

    
    gap: 15px;

    
    display: flex;
    flex-direction: column;
}


.rankingItem {
    
    
    background-image: var(--red-container-image);
    background-size: contain;
    background-repeat: repeat-x;

    
    padding: 12px 16px;
    border-radius: 5px;

    
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.rankingPosition {

    
    color: var(--text-color);

    
    font-weight: bold;
}


.rankingUser {

    
    margin-left: 20px;

    
    flex: 1;
    text-align: left;
}


.rankingScore {

    
    color: var(--text-color);

    
    font-weight: bold;
}


.rankingItem.gold {

    
    background-image: var(--gold-container-image);
    background-size: contain;
    background-repeat: repeat-x;

    
    font-weight: bold;
}


.rankingItem.silver {

    
    background-image: var(--white-container-image);
    background-size: contain;
    background-repeat: repeat-x;

    
    font-weight: bold;
}


.rankingItem.bronze {

    
    background-image: var(--bronze-container-image);
    background-size: contain;
    background-repeat: repeat-x;

    
    font-weight: bold;
}