


@import url('../style.css');


body {

     
    background-image: var(--main-page-background-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    
    display: flex;
    justify-content: center; 
    align-items: flex-start;
}


h1 {
    
    
    color: white;

    
    font-family: var(--pixel-font);
    font-size: 100px;
    
    
    left: 50px;
    margin: 0;
    position: absolute;
}


#scoreMatch {

    
    top: 10px;
}


#score {

    
    top: 100px; 
}


a {

    
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-decoration: none;

    
    width: 200px;         
    height: 200px;

    
    position: absolute;
    box-sizing: border-box;

    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    
    transition: transform 0.2s, background-image 0.15s linear;
}


#ranking {
    
    
    background-image: var(--ranking-button-image);

    
    top: 240px;
    left: 80px;
}


#ranking:hover {

    
    background-image: var(--ranking-button-image);
}


#configurations {

    
    background-image: var(--configuration-button-image);

    
    top: 30px;
    right: 60px;
}


#configurations:hover {
    
    
    background-image: var(--configuration-button-hover-image);
}


#rules {
    
    
    background-image: var(--rules-button-image);

    
    top: 250px;
    right: 60px;
}


#rules:hover {
    
    
    background-image: var(--rules-button-hover-image);
}


#achievements {
    
    
    background-image: var(--achievements-button-image);

    
    bottom: 30px;
    left: 80px;
}


#achievements:hover {
    
    
    background-image: var(--achievements-button-image);
}


#spaceships {
    
    
    background-image: var(--spaceship-button-image);

    
    bottom: 60px;
    right: 80px;
}


#spaceships:hover {
    
    
    background-image: var(--spaceship-button-image);
}


#gameplay {
    
    
    background-image: var(--play-button-image);

    
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#gameplay:hover {
    
    
    background-image: var(--play-button-hover-image);
}


a:hover {

    
    transform: scale(1.5);
}


a.disabledOthers {

    
    filter: grayscale(100%);
    opacity: 0.6;
    
    
    cursor: not-allowed;
    pointer-events: none;
}


a.loading {

    
    opacity: 0.8;
    pointer-events: none;
}


a.loading:hover {
    
    
    filter: grayscale(100%);
    transform: none;
}