/* File of the Ranking page style */

/* Import variables */
@import url('../style.css');

/* The Body of the HTML */
body {

    /* Setting it to be in all the page */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;

    /* Hidden all the parts that overflow the page */
    overflow: hidden;

    /* Putting and configuring the Background image */ 
    background: var(--trophies-background-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* The size and family of the Font */ 
    font-family: var(--pixel-font);
    font-size: 30px;
    
    /* Using FlexBox to configure the position */
    display: flex;
    justify-content: center;
}

/* The Container Div */
.container {

    /* Defining the Color */
    background: var(--dark-container-color);

    /* The position of the Container */
    width: 1000px;
    max-height: 700px;
    overflow-y: auto;
    margin-top: 30px;
    margin-bottom: 30px;

    /* Configure the Padding and Border Radius */
    border-radius: 12px;
    padding: 20px;

    /* Align with FlexBox */
    text-align: center;
}

/* The Div of the Buttons */
.buttons {

    /* Setting the margin */
    margin-top: 50px;
    margin-bottom: 70px;
}

/* The Buttons */
button {

    /* Defining the Color */
    background-color: #22a1e5;

    /* The size and family of the Font */ 
    font-family: var(--pixel-font);
    font-size: 40px;

    /* Defining the Width and Height */
    width: 450px;
    height: auto;

    /* Configure the Padding and Border Radius */
    padding: 10px 20px;
    border-radius: var(--button-radius);
    border: none;
    margin: 0 5px;
    gap: 20px;
    
    /* Transition in case of Hover */
    cursor: pointer;
    transition: background 0.3s;
}

/* The button when have already clicked */
button.active {

    /* Altering the Color */
    background-color: #1b02ac;
}

/* Configuration of the button in case of Hover */
button:hover {

    /* Altering the Color */
    background-color: #364cc4;
}

/* Ranking Container */
.ranking-list {

    /* Defining the Gap */
    gap: 15px;

    /* Using FlexBox to configure the position */
    display: flex;
    flex-direction: column;
}

/* Ranking Item of the List */
.ranking-item {
    
    /* Defining the Color */
    background: var(--light-text-color);
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);

    /* Configure the Padding and Border Radius */
    padding: 12px 16px;
    border-radius: 6px;
    
    /* Using FlexBox to configure the position */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* The position of the Item */
.ranking-position {

    /* Defining the Color */
    color: var(--text-color);

    /* Defining the Font Weight */
    font-weight: bold;
}

/* The User of the Item */
.ranking-user {

    /* Defining the Margin */
    margin-left: 20px;

    /* Using FlexBox to configure the position */
    flex: 1;
    text-align: left;
}

/* The Score of the Item */
.ranking-score {

    /* Defining the Color */
    color: var(--button-color);

    /* Defining the Font Weight */
    font-weight: bold;
}

/* The Item when it's the first */
.ranking-item.gold {

    /* Defining the Color */
    background: var(--gold-color);

    /* Defining the Font Weight */
    font-weight: bold;
}

/* The Item when it's the second */
.ranking-item.silver {

    /* Defining the Color */
    background: var(--silver-color);

    /* Defining the Font Weight */
    font-weight: bold;
}

/* The Item when it's the third */
.ranking-item.bronze {

    /* Defining the Color */
    background: var(--bronze-color);

    /* Defining the Font Weight */
    font-weight: bold;
}