
:root {
  
  --button-color: #013d2b;
  --button-hover-color: #012901;
  --text-color: #ffffff;

  --button-padding: 20px 40px;
  --button-radius: 10px;
  --button-font-size: 30px;
  --button-width: 220px;

  --background-image: url('../Assets/Images/initial_background.svg');
}