/* File with all global styles */

/* Defining a new Font Style */
@font-face {

  /* The Font Family of that font */
    font-family: 'PixelifySans';

    /* The path to the font file */
    src: url('../Assets/Fonts/PixelifySans-VariableFont_wght.ttf') 
      format('truetype');
    
    /* The weight and style of the font */
    font-weight: 100 900; 
    font-style: normal;
}

/* CSS variables */
:root {

  /* Background images resources */
  --background-image: url('../../Assets/Images/initial_background.svg');
  --controls-background-image: url('../../Assets/Images/controls_background.png');
  --gameplay-background-image: url('../../Assets/Images/gameplay_background.png');
  --trophies-background-image: url('../../Assets/Images/trophies_background.png');
  --spaceships-background-image: url('../../Assets/Images/spaceships_background.png');
  --main-page-background-image: url('../../Assets/Images/main_page_background.png');

  /* Font family for pixelated style */
  --pixel-font: 'PixelifySans', arial, sans-serif;

  /* Colors of the buttons */
  --button-color: #e867e8;
  --button-hover-color: #5f1370;

  /* Colors of the texts */
  --text-color: #000000;
  --light-text-color: #ffffff;

  /* Colors of the containers */
  --container-color: #699CFC;
  --dark-container-color: #212020;

  /* Colors of the hiperlinks */
  --link-color: #4da6ff;
  --link-hover-color: #80c0ff;

  /* Colors of the podium */
  --gold-color: linear-gradient(90deg, #FFD700, #FFF3B0);
  --silver-color: linear-gradient(90deg, #C0C0C0, #E5E5E5);
  --bronze-color: linear-gradient(90deg, #CD7F32, #E8B07A);

  /* Button styles configurations */
  --button-padding: 20px 40px;
  --button-radius: 10px;
  --button-font-size: 30px;
  --button-width: 220px;
}