


@import url('../style.css');


.errorMessage {

  
  color: red;

  
  font-family: var(--pixel-font);
  font-weight: bold;
  font-size: 15px;

   
  display: block;
  height: 20px;
  margin-top: 5px;
  
  
  visibility: hidden;
}

 
.inputContainer.error .errorMessage {

  
  visibility: visible;
}

 
.inputContainer.error .input {

  
  border-color: red;
}