


@import url('../style.css');


.turnBack {

    
    background-image: var(--turn-back-button-image);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;

    
    position: fixed;
    top: 10px;
    left: 10px;
    margin-top: 15px;
    margin-left: 15px;
    border: none;
    z-index: 1000;
        
    
    width: 120px;
    height: 120px;

    
    display: flex;
    align-items: center;
    justify-content: center;

    
    cursor: pointer;
    transition: transform 120ms ease;
}


.turnBack:hover {

    
    background-image: var(--turn-back-button-hover-image);

    
    transform: scale(1.2);
}