@import url('../style.css');

/* black screen when paused */
#pauseScreen {

    /* Altering the Background Color */
    background-color: rgba(0,0,0,0.7);

    /* Defining the Position */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;

    /* Defining the Width and Height */
    width: 100%;
    height: 100%;

    /* Using FlexBox to configure the position */
    display: flex;
    justify-content: center;
    align-items: center;  
}

/* Pause Container */
#pauseContent {

    /* Defining the Color */
    background-image: var(--black-container-image);
    background-repeat: repeat;
    background-size: contain;
    box-shadow: 0 8px 24px rgba(0,0,0,0.5);
    
    /* Configure the Padding, Border and Gap */
    padding: 40px 50px;
    gap: 20px;

    /* Configure the width */
    min-width: 320px;
    height: 100%;

    /* Using FlexBox to configure the position */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Central title */
#pauseTitle {

    /* Defining the Color */
    color: var(--light-text-color);

    /* The size, family and weight of the Font */ 
    font-family: var(--pixel-font);
    font-size: 120px;
    font-weight: bold;
    
    /* Defining the Margin */
    margin-bottom: 10px;
}

/* Buttons of the Pause screen  */
.pauseButton {

    /* Defining the Color */
    color: var(--light-text-color);

    /* The size and family of the Font */
    font-family: var(--pixel-font);
    font-size: 25px;

    /* Configure the Padding and Border Radius */
    padding: 12px 24px;
    border-radius: 8px;
    border: none;

    /* Defining the Width and Height */
    width: 250px;
    height: 60px;
    
    /* Transition in case of Hover */
    cursor: pointer;
    transition: background 0.2s, transform 0.2s;
}

/* The resume button */
#resumeButton {

    /* Defining the Color */
    background-image: var(--green-button-image);
    width: 200px;
    height: 100px;

    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center;

    padding-bottom: 30px;
}

/* Configuration of the button in case of Hover */
#resumeButton:hover {

    /* Altering the Background Color */
    background-image: var(--green-button-hover-image);

    /* Scaling the button it's value times 1.05 */
    transform: scale(1.1);
}

#resumeButton:disabled {
  cursor: not-allowed;
  opacity: 0.6;
  background-image: var(--green-button-clicked-image);
  filter: grayscale(100%);
  transform: none !important;
}

/* Remover o hover quando desativado */
#resumeButton:disabled:hover {
  background-image: var(--green-button-clicked-image);
  filter: grayscale(100%);
  transform: none;
}

#resumeButton.loading {
  cursor: not-allowed;
  opacity: 0.6;
  background-image: var(--green-button-clicked-image);
  filter: grayscale(100%);
  transform: none !important;
}

.sliderContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* mantém o label alinhado à esquerda */
    gap: 4px; /* espaço pequeno entre label e slider */
    width: 100%; /* para o slider ocupar toda a largura */
}

#saveSoundsButton {

    /* Altering the Background Color */
    background-image: var(--pink-button-image);
    width: 200px;
    height: 100px;
    padding-bottom: 25px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center;
}

/* Configuration of the button in case of Hover */
#saveSoundsButton:hover {

    /* Altering the Background Color */
    background-image: var(--pink-button-hover-image);

    /* Scaling the button it's value times 1.05 */
    transform: scale(1.1);
}

#saveSoundsButton:disabled {
  cursor: not-allowed;
  opacity: 0.6;
  background-image: var(--pink-button-clicked-image);
  filter: grayscale(100%);
  transform: none !important;
}

/* Remover o hover quando desativado */
#saveSoundsButton:disabled:hover {
  background-image: var(--pink-button-clicked-image);
  filter: grayscale(100%);
  transform: none;
}

#saveSoundsButton.loading {
  cursor: not-allowed;
  opacity: 0.6;
  background-image: var(--pink-button-clicked-image);
  filter: grayscale(100%);
  transform: none !important;
}

/* The exit button */
#exitButton {

    /* Defining the Color */
    background-image: var(--red-button-image);
    width: 200px;
    height: 100px;

    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center;
    
    padding-bottom: 30px;
}

/* Configuration of the button in case of Hover */
#exitButton:hover {

    /* Altering the Background Color */
    background-image: var(--red-button-hover-image);

    /* Scaling the button it's value times 1.05 */
    transform: scale(1.1);
}

#exitButton:disabled {
  cursor: not-allowed;
  opacity: 0.6;
  background-image: var(--red-button-clicked-image);
  filter: grayscale(100%);
  transform: none !important;
}

/* Remover o hover quando desativado */
#exitButton:disabled:hover {
  background-image: var(--red-button-clicked-image);
  filter: grayscale(100%);
  transform: none;
}

#exitButton.loading {
  cursor: not-allowed;
  opacity: 0.6;
  background-image: var(--red-button-clicked-image);
  filter: grayscale(100%);
  transform: none !important;
}

/* The Labels */
label {

    /* Defining the Color */
    color: var(--light-text-color);

    /* The size and family of the Font */
    font-family: var(--pixel-font);
    font-size: 25px;
    
    /* Defining the Margin bottom */
    margin-bottom: 4px;

    /* Align it on FlexBox */
    align-self: flex-start;
}

/* Defining the Slider */
input[type="range"] {

    /* remove the appearence of the Web Site */
    -webkit-appearance: none;

    /* Defining the background Color */
    background-image: var(--white-container-image);
    background-repeat: repeat-x;
    background-size: contain;

    /* Defining the Width and Height */ 
    width: 100%;
    height: 30px;

    /* Defining the Border Radius */
    margin-top: 20px;
    border-radius: 5px;
    outline: none;
}

/* Styling the button on the Web Sites */
input[type="range"]::-webkit-slider-thumb {

    /* remove the appearence of the Web Site */
    -webkit-appearance: none;

    /* Defining the background Color */
    image-rendering: pixelated;
    background-image: var(--slider-button-image);
    background-repeat: no-repeat;
    background-size: contain;

    /* Defining the Width and Height */
    width: 50px;
    height: 70px;
    
    /* Transition in case of Hover */
    cursor: pointer;
    transition: 0.3s;
}

/* Styling the button on the Fire Fox */
input[type="range"]::-moz-range-thumb {
    
    image-rendering: pixelated;
    background-image: var(--slider-button-image);
    background-repeat: no-repeat;
    background-size: contain;

    width: 50px;
    height: 70px;
    cursor: pointer;
    transition: 0.3s;
}

/* Configuration of the slider in case of Hover */
input[type="range"]::-webkit-slider-thumb:hover {
    
    /* Defining the background Color */
    filter: grayscale(100%);
    
    /* Scaling the button it's value times 1.05 */
    transform: scale(1.05); 
}

.pauseButton {
    position: relative; /* necessário para o spinner ficar dentro do botão */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* espaço para o spinner à direita */
}

/* Loading / Disabled */
.pauseButton.loading,
.pauseButton.disabled-others {
    cursor: not-allowed;
    pointer-events: none;
    transform: none !important;
}

.pauseButton.loading,
.pauseButton.disabled-others {
    cursor: not-allowed;
    pointer-events: none;
    transform: none !important;
}

/* Corrige o giro do spinner */
@keyframes spin {
    0% { transform: translateY(-50%) rotate(0deg); }
    100% { transform: translateY(-50%) rotate(360deg); }
}

.pauseSlider:disabled {
    filter: grayscale(100%);
    cursor: not-allowed;
}

.pauseSlider:disabled::-webkit-slider-thumb {
    filter: grayscale(100%);
    cursor: not-allowed;
}

.pauseSlider:disabled::-moz-range-thumb {
    filter: grayscale(100%);
    cursor: not-allowed;
}

#pauseTitle {
    animation: blink 1s infinite;
}