


@import url('../style.css');


body {

    
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


#gameCanvas {

    
    position: fixed;
    top: 0;
    left: 0;

    
    z-index: 10;
    pointer-events: none;  
}


#scoreMatchContainer {
    
    
    color: #f0f0f0;
    text-shadow: 2px 2px 5px #000000;

    
    position: fixed;
    bottom: 20px;
    left: 20px;

    
    font-family: var(--pixel-font);
    font-size: 35px;
    font-weight: bold;
    
    
    z-index: 100;
}


#cashContainer {

    
    color: #f0f0f0;
    text-shadow: 2px 2px 5px #000000;

    
    position: fixed;
    bottom: 80px;
    left: 20px;
    
    
    font-family: var(--pixel-font);
    font-size: 35px;
    font-weight: bold;
    
    
    z-index: 100;
}


#cashContainer img {

    
    width: 50px;
    height: 50px;
}


#lifeContainer {
    
    
    position: fixed;
    top: 20px;
    right: 20px;
    gap: 8px;

    
    display: flex;
    
    
    z-index: 100;
}


#lifeContainer img {

    
    width: 50px;
    height: 50px;
}


#bossLifeContainer {

    
    background-color: #444444;
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.4);

    
    width: 1000px;
    height: 35px;

    
    position: fixed;
    bottom: 20px;
    right: 20px;

    
    border-radius: 10px;
    
    
    overflow: hidden;
    display: none; 
    
    
    z-index: 100;
}


#bossLifeFill {

    
    background-color: red;

    
    height: 100%;
    width: 100%;

    
    border-radius: 8px 0 0 8px;

    
    transition: width 0.3s ease-in-out;
}


#bossLifeText {

    
    color: white;
    text-shadow: 2px 2px 5px black;

    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    
    
    font-family: var(--pixel-font);
    font-size: 22px;
}


#pauseButton {

    
    background-color: transparent;
    background-image: var(--pause-button-image);
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 0 2px 6px rgba(0,0,0,0.18);
    
    
    width: 120px;
    height: 120px;

    
    position: fixed;
    top: 10px;
    left: 10px;
    margin-top: 15px;
    margin-left: 15px;
    border: none;

    
    z-index: 1000;

    
    display: flex;
    align-items: center;
    justify-content: center;

    
    cursor: pointer;
    transition: transform 120ms ease, box-shadow 120ms ease, opacity 120ms ease;
}


#pauseButton:hover {

    
    background-image: var(--pause-button-hover-image);

    
    transform: scale(1.2);
}


#pauseButton.clicked {

    
    background-image: var(--pause-button-clicked-image);
    opacity: 0.8;

    
    transform: scale(0.95);
}