


@import url('../style.css');


#pauseScreen {

    
    background-color: rgba(0,0,0,0.7);

    
    position: fixed;
    top: 0;
    left: 0;

    
    z-index: 2000;

    
    width: 100%;
    height: 100%;

    
    display: flex;
    justify-content: center;
    align-items: center;  
}


#pauseContent {

    
    background-image: var(--black-container-image);
    background-repeat: repeat;
    background-size: contain;
    box-shadow: 0 8px 24px rgba(0,0,0,0.5);
    
    
    padding: 40px 50px;
    gap: 20px;

    
    min-width: 320px;
    height: 100%;

    
    display: flex;
    flex-direction: column;
    align-items: center;
}


#pauseTitle {

    
    color: var(--light-text-color);

     
    font-family: var(--pixel-font);
    font-size: 120px;
    font-weight: bold;
    
    
    margin-bottom: 10px;

    
    animation: blink 1s infinite;
}


.pauseButton {

    
    color: var(--light-text-color);

    
    font-family: var(--pixel-font);
    font-size: 25px;

    
    padding: 12px 24px;
    border-radius: 8px;
    border: none;

    
    width: 250px;
    height: 60px;
    
    
    cursor: pointer;
    transition: background 0.2s, transform 0.2s;
}


.pauseButton.loading,
.pauseButton.disabledOthers {
    
    
    cursor: not-allowed;
    pointer-events: none;
    transform: none;
}


#resumeButton {

    
    background-image: var(--green-button-image);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center;
    
    
    width: 200px;
    height: 100px;

    
    padding-bottom: 30px;
}


#resumeButton:hover {

    
    background-image: var(--green-button-hover-image);

    
    transform: scale(1.1);
}


#resumeButton:disabled {
  
    
    background-image: var(--green-button-clicked-image);
    filter: grayscale(100%);
    opacity: 0.6;

    
    cursor: not-allowed;
    transform: none;
}


#resumeButton:disabled:hover {

    
    background-image: var(--green-button-clicked-image);
    filter: grayscale(100%);
    transform: none;
}


#resumeButton.loading {
  
    
    background-image: var(--green-button-clicked-image);
    filter: grayscale(100%);
    opacity: 0.6;
  
    
    cursor: not-allowed;
    transform: none;
}


.sliderContainer {

    
    width: 100%;
    gap: 4px;

    
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}


label {

    
    color: var(--light-text-color);

    
    font-family: var(--pixel-font);
    font-size: 25px;
    
    
    margin-bottom: 4px;

    
    align-self: flex-start;
}


input[type="range"] {

    
    -webkit-appearance: none;

    
    background-image: var(--white-container-image);
    background-repeat: repeat-x;
    background-size: contain;

     
    width: 100%;
    height: 30px;

    
    margin-top: 20px;
    border-radius: 5px;
    outline: none;
}


input[type="range"]::-webkit-slider-thumb {

    
    -webkit-appearance: none;

    
    background-image: var(--slider-button-image);
    background-repeat: no-repeat;
    background-size: contain;

    
    width: 50px;
    height: 70px;
    
    
    cursor: pointer;
    transition: 0.3s;
}


input[type="range"]::-moz-range-thumb {
    
    
    background-image: var(--slider-button-image);
    background-repeat: no-repeat;
    background-size: contain;

    
    width: 50px;
    height: 70px;

    
    cursor: pointer;
    transition: 0.3s;
}


input[type="range"]::-webkit-slider-thumb:hover {
    
    
    filter: grayscale(100%);
    
    
    transform: scale(1.05); 
}


.pauseSlider:disabled {

    
    filter: grayscale(100%);
    cursor: not-allowed;
}


.pauseSlider:disabled::-webkit-slider-thumb {
    
    
    filter: grayscale(100%);
    cursor: not-allowed;
}


.pauseSlider:disabled::-moz-range-thumb {
    
    
    filter: grayscale(100%);
    cursor: not-allowed;
}


#saveSoundsButton {

    
    background-image: var(--pink-button-image);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center;
    
    
    width: 200px;
    height: 100px;

    
    padding-bottom: 25px;
}


#saveSoundsButton:hover {

    
    background-image: var(--pink-button-hover-image);

    
    transform: scale(1.1);
}


#saveSoundsButton:disabled {
    
    
    background-image: var(--pink-button-clicked-image);
    filter: grayscale(100%);
    opacity: 0.6;

    
    cursor: not-allowed;
    transform: none;
}


#saveSoundsButton:disabled:hover {
    
    
    background-image: var(--pink-button-clicked-image);
    filter: grayscale(100%);
    transform: none;
}


#saveSoundsButton.loading {
  
    
    background-image: var(--pink-button-clicked-image);
    filter: grayscale(100%);
    opacity: 0.6;

    
    cursor: not-allowed;
    transform: none !important;
}


#exitButton {

    
    background-image: var(--red-button-image);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center;

    
    width: 200px;
    height: 100px;

    
    padding-bottom: 30px;
}


#exitButton:hover {

    
    background-image: var(--red-button-hover-image);

    
    transform: scale(1.1);
}


#exitButton:disabled {
  
    
    background-image: var(--red-button-clicked-image);
    filter: grayscale(100%);
    opacity: 0.6;

    
    cursor: not-allowed;
    transform: none;
}


#exitButton:disabled:hover {

    
    background-image: var(--red-button-clicked-image);
    filter: grayscale(100%);
    transform: none;
}


#exitButton.loading {

    
    opacity: 0.6;
    background-image: var(--red-button-clicked-image);
    filter: grayscale(100%);

    
    cursor: not-allowed;
    transform: none;
}