


@import url('../style.css');


body {
  
  
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


#logo {

  
  width: 700px;
  height: auto;

  
  position: absolute;
  top: 0px;
  right: 90px;
}


#buttons {
  
  
  gap: 30px;
  padding-top: 80px;
  padding-left: 150px;

  
  display: flex;
  flex-direction: column;
}


#buttons a {
  
  
  background-image: var(--pink-button-image);
  background-repeat: no-repeat;
  background-size: contain; 
  background-position: center;

  
  width: 350px;   
  height: 150px;   

  
  color: var(--text-color);
  font-family: var(--pixel-font);
  font-size: 50px;

  
  text-align: center;
  line-height: 130px; 
  text-decoration: none;
  display: inline-block;

  
  transition: transform 0.15s ease;
  cursor: pointer;
}


#buttons a:hover {

  
  background-image: var(--pink-button-hover-image);

  
  transform: scale(1.05);
}


#buttons a:active {

  
  background-image: var(--pink-button-clicked-image);
  
  
  transform: scale(0.95);
}


#buttons a:focus {

  
  outline: none;
}