


@import url('../style.css');


body {
  
  
  display: flex;
  justify-content: center; 
  align-items: flex-start;
}


.container {

  
  background-image: var(--black-container-image);
  background-repeat: repeat;
  background-size: contain;

  
  color: var(--light-text-color);   
  
  
  font-family: var(--pixel-font);  
  font-size: 25px;

   
  padding: 30px;
  
  
  width: 400px;       
  max-width: 90%;    
  height: 100vh;      
  overflow-y: auto;   

  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

 
h1 {

  
  color: var(--title-text-color);
  
  
  font-family: var(--pixel-font);
  font-size: 100px;

  
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: center;
}


.container a {
      
  
  text-decoration: none;

  
  color: var(--link-color); 

  
  align-items: center;
  gap: 8px;                   
  
  
  display: inline-flex;
}


.container a:hover {

  
  color: var(--link-hover-color);

  
  transform: scale(1.2);
  transition: 0.3s;
}


.container a img {

  
  width: 27px;   
  height: 27px;
}