


@import url('../style.css');

 
* {

     
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {

    
    display: flex;
    justify-content: flex-start; 
    flex-direction: column;      
    align-items: flex-start; 
}


#container {

    
    width: 100%;

    
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}


#signinText {

    
    color: var(--title-text-color);

     
    font-size: 250px;
    font-family: var(--pixel-font);
    
    
    position: absolute;
    top: -10px;
    right: 50px;
}


#forms {

    
    background-image: var(--blue-container-image);
    background-repeat: repeat;
    background-size: contain;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);

    
    padding: 40px;
    
    
    width: 350px;
    height: calc(100vh - 150px);
    margin-left: 200px;
    margin-top: 150px;          
    
    
    display: flex;
    flex-direction: column;
}


.inputContainer {

    
    position: relative;
    margin-bottom: 25px;

    
    width: 100%;
}


.inputContainer .input {
    
    
    background-image: var(--white-container-image);
    background-size: contain;
    background-repeat: repeat-x;
    
     
    font-size: 16px;
    font-family: var(--pixel-font);

    
    padding: 20px 15px 10px 15px; 
    border-radius: 8px;
    border: 2px solid var(--text-color);
    outline: none;

    
    width: 100%;
}


.inputContainer .textInput {
    
    
    color: #000000;
    background-color: transparent;

     
    font-size: 20px; 
    font-family: var(--pixel-font);
    font-weight: bold;

    
    position: absolute;
    left: 15px;
    top: 20px; 
    
    
    pointer-events: none;
    transition: 0.3s ease all;
}


.inputContainer .input:focus + .textInput,
.inputContainer .input:not(:placeholder-shown) + .textInput {

    
    color: #000000;
    background-color: transparent;

     
    font-size: 30px;  
    font-family: var(--pixel-font);

    
    padding: 0 5px;
    top: -30px;        
    left: 10px;
}


#button {

    
    background-color: transparent;
    background-image: var(--pink-button-image);
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center;
    color: var(--text-color);
    box-shadow: none;

    
    font-size: 30px;
    font-family: var(--pixel-font);

    
    width: 200px;  
    height: 110px;

    
    margin-top: 100px;
    padding-bottom: 15px;
    border: none;
    outline: none;

    
    display: flex;
    align-items: center; 
    justify-content: center;

    
    cursor: pointer;
    transition: transform 0.3s ease;
}


#button:hover {

    
    background-image: var(--pink-button-hover-image);
    
    
    transform: scale(1.05);
}


#button:disabled {

    
    background-image: var(--pink-button-clicked-image);
    filter: grayscale(100%);

    
    cursor: not-allowed;
  
    
    transform: scale(0.95);
    transform: none;
}


#button:disabled:hover {

    
    background-image: var(--pink-button-clicked-image);
    transform: none;
}


#button.loading {

    
    background-image: var(--pink-button-clicked-image);
    opacity: 0.7;
  
    
    position: relative;
    
    
    cursor: not-allowed;
    pointer-events: none; 
}