


@import url('../style.css');


body { 

    
    background-color: #f0f0f0;
    color: #f0f0f0;

    
    display: flex; 
    flex-direction: column; 
}


#soundtrackContainer {

    
    width: 10px; 
    height: 10px;

    
    position: absolute;
    top: -50px; 
    left: 0;
    
    
    overflow: hidden; 
}


#backgroundAudio {

    
    display: none; 
}


#contentFrame {

    
    flex-grow: 1; 
    border: none; 

    
    width: 100%;
    height: 100%; 
}